# -------------------Ignore All-------------------
*
# -------------------Exclude List-------------------
!.github
!.github/**
!.gitignore
!*.*
# -------------------server-------------------
!server
!server/**
# -------------------client-------------------
!client
client/*
!client/game_y.7z
!client/package.ini
# -------------------maps-------------------
!client/maps
client/maps/*
!client/maps/scrollsetting
client/maps/scrollsetting/*
!client/maps/scrollsetting/2_scroll.ini
!client/maps/scrollsetting/340_scroll.ini
# ------------------------------------------------
!client/itemexchange_setting/
!client/itemexchange_setting/**
!client/rolevalueladder_setting/
!client/rolevalueladder_setting/**
# -------------------script-------------------
!client/script/
client/script/*
!client/script/faction_def.lua
# -------------------script/battles-------------------
!client/script/battles
!client/script/battles/*.*
# -------------------script/global-------------------
!client/script/global/
client/script/global/*
!client/script/global/autoexec.lua
!client/script/global/login.lua
!client/script/global/loginmessage.lua
# ------------------------------------------------
!client/script/global/gm/
client/script/global/gm/*
!client/script/global/gm/julianv/
!client/script/global/gm/julianv/**
# ------------------------------------------------
!client/script/global/npc/
client/script/global/npc/*
!client/script/global/npc/add_boss_bailuyencong.lua
# ------------------------------------------------
!client/script/global/thanh/
client/script/global/thanh/*
!client/script/global/thanh/npc/
client/script/global/thanh/npc/*
!client/script/global/thanh/npc/npc_hotro.lua
# -------------------script/skill-------------------
!client/script/skill/
!client/script/skill/*
# -------------------script/item-------------------
!client/script/item/
client/script/item/*
!client/script/item/lessmoneygift.lua
!client/script/item/moremoneygift.lua
# -------------------script/task-------------------
!client/script/task/
client/script/task/*
!client/script/task/system/
client/script/task/system/*
!client/script/task/system/task_string.lua
# -------------------ui------------------- 
!client/ui/
client/ui/*
!client/ui/ui3
!client/ui/ui3/**
# -------------------UserData-------------------
!client/UserData/
client/UserData/*
!client/UserData/uiconfig.ini
# -------------------spr-------------------
!client/spr/
client/spr/*
!client/spr/julianv.spr
!client/spr/skill
client/spr/skill/*
!client/spr/skill/others
!client/spr/skill/others/**
# -------------------data-------------------
!client/data/
client/data/*
!client/data/1024x768.pak
# -------------------settings-------------------
!client/settings/
!client/settings/*
!client/settings/item/
!client/settings/item/**
# -------------------docs-------------------
!docs/
!docs/**