# Ignore All
* 
#Exclude List
!.gitignore
!.VnSourceCodePro-Regular.ttf
!engine.dll
!game_y.exe
!install.ps1
!package.ini
!README.md
!settings-font.json
#
!itemexchange_setting/
!itemexchange_setting/**
!rolevalueladder_setting/
!rolevalueladder_setting/**
# script
!script/
script/*
!script/faction_def.lua
!script/global/
script/global/*
!script/global/autoexec.lua
# ------------------------------------------------
!script/global/gm/
script/global/gm/*
!script/global/gm/julianv/
!script/global/gm/julianv/**
# ------------------------------------------------
!script/global/npc/
script/global/npc/*
!script/global/npc/add_boss_bailuyencong.lua
# ------------------------------------------------
!script/global/thanh/
script/global/thanh/*
!script/global/thanh/npc/
script/global/thanh/npc/*
!script/global/thanh/npc/npc_hotro.lua
# ------------------------------------------------
!script/skill/
!script/skill/*
# ------------------------------------------------
!script/item/
script/item/*
!script/item/lessmoneygift.lua
!script/item/moremoneygift.lua
# ui 
!ui/
ui/*
!ui/ui3/
ui/ui3/*
!ui/ui3/icon_bar.ini
# UserData
!UserData/
UserData/*
!UserData/uiconfig.ini
# spr
!spr/
spr/*
!spr/julianv.spr
# data
!data/
data/*
!data/1024x768.pak
# settings
!settings/
!settings/*
!settings/item/
!settings/item/**
# docs
!docs/
!docs/**