**
*.*
!.gitignore
!*.ps1
!*.md
!settings-font.json
!engine.dll
!package.ini
!game_y.exe
!.VnSourceCodePro-Regular.ttf
#-------------------------
!ui
!settings
!UserData/uiconfig.ini
!spr/julianv.spr
!data/1024x768.pak
#Important Files
!script/skill
!script/global/gm
!script/global/npc
!script/global/thanh
!script/global/thinh
!script/item/lessmoneygift.lua
!script/item/moremoneygift.lua
